/*---Базовые стили---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proba Pro', sans-serif;
    font-weight: normal;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4e1d2;
}

a,
button,
input,
textarea {
    transition: all .3s linear;
    outline: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

button::-moz-focus-inner {
    border: 0;
}

table {
    padding: 0.5vh 0.5vh;
    background-color: #3b3a30;
    color: white;
    border: 2px solid white;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

/*---Сегодня---*/
#aboutToday,
#aboutToday div {
    display: flex;
}

#aboutToday {
    border: 2px solid white;
    border-top: none;
    border-radius: 0 0 20px 20px;
    padding: 5px 10px;
    width: 40%;
    flex-direction: column;
    align-items: center;
    order: 1;
    font-size: 24px;
    background-color: #3b3a30;
    color: white;
}

#aboutToday div h2 {
    margin-right: 10px;
}

#aboutToday div h2:last-child {
    margin-right: 0;
}

#aboutToday p {
    text-align: center;
}

/*---Шапка календаря---*/
#calendar {
    order: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#calendar input {
    border: none;
    background-color: #3b3a30;
    text-align: center;
    color: white;
}

#calendar,
.conMonth {
    display: flex;
    justify-content: center;
}

#yearActual,
.conMonth h3,
.weekHead {
    font-size: 28px;
}

.conMonth {
    height: 40px;
    align-items: center;
}

.conMonth button, .conMonth h3 {
    display: inline-block;
}

.conMonth h3 {
    margin: 0 15px;
    width: 132px;
    font-weight: bold;
}

.conMonth svg {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 1400px) {
    #aboutToday {
        font-size: 18px;
    }

    #yearActual,
    .conMonth h3,
    .weekHead {
        font-size: 22px;
    }

    .conMonth h3 {
        width: 100px;
    }
}

@media only screen and (max-width: 768px) {
    #calendar {
        width: 80%;
    }

    #aboutToday {
        width: 80%;
        font-size: 14px;
    }

    #yearActual,
    .conMonth h3,
    .weekHead {
        font-size: 20px;
    }
}

/*---Тело календаря---*/
.mainCont {
    background-color: white;
    color: #222;
}

.mainCont td {
    z-index: 1;
    padding: 0.5vw;
    min-width: 30px;
    width: 100px;
    height: 30px;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    vertical-align: top;
    transition: font-size 0.4s ease;
    color: #3b3a30;
}

.mainCont td:hover {
    cursor: pointer;
    color: white !important;
    background-color: #3b3a30 !important;
}

/* Стили для выпадающей подсказки */
[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0;
    top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover {
    z-index: 1000;
}

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}

@media only screen and (max-width: 1400px) {
    [data-tooltip]::after {
        width: 200px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    [data-tooltip]::after {
        font-size: 16px;
    }
}